html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 50px;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    background: #333333;
    color: #ffffff;
    height: 50px;
}

header h1 {
    font-size: 40px;
    color: #aaaaaa;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

header nav {
    margin-top: 28px
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #333333;
    color: #aaaaaa;
}

footer div.container_16 {
    vertical-align: middle;
}

div.main {
    background:  #ffffff;
    padding: 10px 0px;
}

.picture_frame {
    height: 600px;
    overflow-y: scroll;
}
